# Test node configuration

# RPC port
BLOCKCHAIN_RPC_PORT=8545

# Logging mode (set to DEBUG for debugging)
LOG_MODE=INFO

# URL of the explorer API to send pings
PING_URL=http://host.docker.internal/api/v1/pingnodes

# URL to fetch the ban list
BAN_LIST_URL=http://host.docker.internal/api/v1/banlist

# Geo location service URL (service to check the countries of external IPs of other nodes)
GEO_LOCATION_SERVICE=http://ip-api.com/json/@IP
